

<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
<div class="navbar-header col-xs-6">
    <a class="navbar-brand"
       href="#!/login">Login</a></div>
</div>
</nav>

<div class="container-fluid wbd-login-container">
<div>


<div ng-show="model.errorMessage" class="alert alert-info">
    {{model.errorMessage}}</br></div>
<label for="username">Username</label>
<input name="username"
       ng-model="model.user.username"
       class="form-control"
       id="username"
       placeholder="username"/>



<label for="password">Password</label>
<input name="password"
       type="password"
       ng-model="model.user.password"
       class="form-control"
       id="password"
       placeholder="password"/>
<a class="btn btn-default btn-primary btn-block"
   ng-click="model.login(model.user)">Login</a>
<a class="btn btn-default btn-success btn-block"
   href="#!/register"
   role="button">Register</a></div>
<nav class="navbar navbar-default navbar-fixed-bottom">
</nav>



</div>
