<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <div class="col-glyphicon-position">
            <!--<a class= "wdc-anchor-new"-->
               <!--href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">-->
                <!--<span class="glyphicon glyphicon-play"></span>-->
            <!--</a>-->
        </div>
        <div class="col-glyphicon-position">
            <!--<a class= "wdc-anchor-new"-->
               <!--href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">-->
                <!--<span class="glyphicon glyphicon-eye-open"></span>-->
            <!--</a>-->
        </div>


        <div class="nav navbar-nav navbar-text pull-right wdc-padding-profile">
            <!--<a class= "wdc-anchor-new"-->
               <!--href="#!/profile/{{model.userId}}">-->
                <!--<span class="glyphicon glyphicon-user "></span>-->
            <!--</a>-->

        </div>
    </div><!-- /.container-fluid -->
</nav>