<section class="navs">
    <nav class="navbar navbar-fixed-top taj-navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header"
                 id="logo">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                        <span class="glyphicon glyphicon-align-justify"
                              id="menucollapse">
                        </span>

                </button>
                <a class="navbar-brand"
                   href="index.html">
                    <span><i class="fa fa-stethoscope"></i></span>
                    HealthCare
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#!/#services">Services</a></li>
                    <li><a href="#!/doctor">Doctors</a></li>
                    <li><a href="#!/#blog">Blog</a></li>
                    <li><a href="#about-us">About Us</a></li>
                    <!--<li><a ng-show="$rootScope.currentUser.isAdmin" href="#!/admin">Admin</a></li>-->
                    <li><a ng-show="model.curretLoggedUser.isAdmin == true" href="#!/admin">Admin</a></li>
                   <!--<li><a ng-show="currentUser" href="#!/user/{{currentUser._id}}/edit">Edit</a></li>-->
                    <li><a ng-show="model.curretLoggedUser" href="#!/edit">Edit</a></li>
                    <li><a ng-show="model.curretLoggedUser" href="#!/user">Profile</a></li>
                    <li><a ng-show="!model.curretLoggedUser" href="#!/login">Sign In</a></li>
                    <li><a ng-show="model.curretLoggedUser" href="/logout">Sign Out</a></li>
                </ul>
            </div><!-- navbar-collapse -->
        </div><!-- container-fluid -->
    </nav>
</section>